.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #0D0714 0%, #15101C 100%);
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}